# Frontend API base URL
VITE_API_BASE_URL=http://localhost:5000

# Firebase Web App config (for React /admin login)
VITE_FIREBASE_API_KEY=AIzaSyAmvoOOphafnk0Jcv6qRl9oNBHKxmq7Xl4
VITE_FIREBASE_AUTH_DOMAIN=bonjour-brew-cafe.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bonjour-brew-cafe
VITE_FIREBASE_STORAGE_BUCKET=bonjour-brew-cafe.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=48527336887
VITE_FIREBASE_APP_ID=1:48527336887:web:e0f5c80a1f9b5068087432
VITE_FIREBASE_MEASUREMENT_ID=G-TK40HJKJPC
